body {
    background-color: #0e501e; /* Зеленый цвет, как сукно на столе */
    color: white; /* Белый цвет текста */
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
}